.Letter-rating-container {
    background-color: white;
    height: 245px;
    width: 245px;
}

.NY-seal {
    height: 190px;
    position: relative;
    top: 25px;
    z-index: 1;
    opacity: .4;
}

.Letter {
    height: 115px;
    position: relative;
    top: -125px;
    z-index: 2;
}

.Letter-GP {
    height: 60px;
    position: relative;
    top: -95px;
    z-index: 2;
}