.Modal-container {
    position: fixed;
    top: 0;
    left: 0;
    width:100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    z-index: 1;
}

.Modal-main {
    position: fixed;
    background: white;
    width: 60%;
    height: auto;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
}
  
.Modal-img {
    height: 200px;
    object-fit: cover;
}

.Modal-letter-rating {
    position: absolute;
    right: -40px;
    top: 160px;
    transform: scale(.5);
}

.Modal-close {
    float: right;
    position: relative;
    top: -40px;
    margin-bottom: -40px;
}

.display-block {
    display: block;
}
  
.display-none {
    display: none;
}